<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="index.css" />
    <title></title>
  </head>
  <body class="container" ng-controller="mainCtrl">

    <div my-lazy-render="showit" echo>
      <div ng-repeat="item in items">{{item}}</div>
    </div>
    <button class="btn btn-xs btn-warning" ng-click="showit = true">Render Content</button>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>